/*-------------------SIGNUP CSS-----------------*/

.signup1{
    width: 100%;

    border-bottom: 1px solid grey;
    display: flex;
}

.signup2{
    width: 60%;
    margin: auto;
    display: flex;
}

.signup3{
    width: 50%;
    display: flex;
    align-items: center;
}
.signup3 h2{
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.signup3 a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
}

.signup4{
    display: flex;
    justify-content: end;
}


.signup5{
    width: 100%;
}

.signup6{
    width: 100%;
    margin: auto;
    margin-bottom: 0;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.signup7{
    width: 80%;
    margin: auto;
    display: block;
}

.signup8{
    width: 45%;
    margin: auto;
}

.signup8 input{
    width: 45%;
    height: 50px;
    padding-left: 1%;
    font-size: 15px;
    font-family: poppins;
    border-radius: 5px;
    border:1px solid grey;
}

.signup9{
    width: 45%;
    margin: auto;
    display: block;
}

.signup9 input{
    width: 95%;
    height: 50px;
    margin-bottom: 4%;
    padding-left: 1%;
    font-size: 15px;
    font-family: poppins;
    border-radius: 5px;
    border:1px solid grey;
}

.signup10{
    width: 60%;
    margin: auto;
    margin-top: 2%;
}

.signup14{
    width: 100%;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.signup11{
    width: 60%;
    margin: auto;
}

.signup11 input{
    width: 95%;
    height: 50px;
    margin-bottom: 4%;
    padding-left: 1%;
    font-size: 15px;
    font-family: poppins;
    border-radius: 5px;
    border:1px solid grey;
}

.signup11 input[type="email"]{
    margin-bottom:0;
}

.signup11 p{
    margin-top: 0;
}

.signup12{
    width:50%;
    height: 200px;
    margin: auto;
    margin-top: 2%;
}

.signup13{
    width: 70%;
    text-align: center;
    margin: auto;
}

.signup13 p{
    font-size: 13px;
}


.signup13 button{
    padding: 10px;
    margin-top: 3%;
    width: 30%;
    background-color: blue;
    font-family: poppins;
    color: white;
    border: none;
    border-radius: 5px;
}
